
/obj
*.xml
*.xml
*.dll
*.cache
*.dll
*.pdb
obj/rider.project.restore.info
obj/rider.project.model.nuget.info
obj/Debug/net10.0/StrategyPattern.sourcelink.json
obj/Debug/net10.0/StrategyPattern.pdb
obj/Debug/net10.0/StrategyPattern.dll
obj/Debug/net10.0/StrategyPattern.csproj.CoreCompileInputs.cache
obj/Debug/net10.0/StrategyPattern.AssemblyInfoInputs.cache
obj/Debug/net10.0/StrategyPattern.AssemblyInfo.cs
obj/Debug/net10.0/refint/StrategyPattern.dll
obj/Debug/net10.0/ref/StrategyPattern.dll
bin/Debug/net10.0/StrategyPattern.pdb
bin/Debug/net10.0/StrategyPattern.dll
.idea/.idea.StrategyPattern.dir/.idea/workspace.xml
